<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
	
<mapper namespace="communityMapper">

	<!-- 커뮤니티 게시글 -->
	<resultMap type="com.kh.project.community.vo.CommunityVO" id="commu">
		<id column="COMMU_CODE"         property="commuCode"/>
		<result column="WRITER"         property="writer"/>
		<result column="CREATE_DATE"    property="createDate"/>
		<result column="READ_CNT"       property="readCnt"/>
		<result column="TITLE"          property="title"/>
		<result column="CONTENT"        property="content"/>
		<result column="SECRET"         property="secret"/>
		<result column="IS_SECRET"      property="isSecret"/>
	</resultMap>
	
	<!-- 커뮤니티 댓글 -->
	<resultMap type="com.kh.project.community.vo.CommunityReplyVO" id="reply">
		<id column="COMMU_REPLY_CODE"   property="commuReplyCode"/>
		<result column="CREATE_DATE"    property="createDate"/>
		<result column="WRITER"         property="writer"/>
		<result column="CONTENT"        property="content"/>
		<result column="COMMU_CODE"     property="commuCode"/>
	</resultMap>
	

<!-- 커뮤니티 목록조회 -->
<select id="selectCommuList" resultMap="commu">
	SELECT COMMU_CODE
		, WRITER
		, CREATE_DATE
		, READ_CNT
		, TITLE
		, CONTENT
		, SECRET
		, IS_SECRET
		, ROW_NUM
	FROM(
			SELECT COMMU_CODE
				, WRITER
				, CREATE_DATE
				, READ_CNT
				, TITLE
				, CONTENT
				, SECRET
				, IS_SECRET
				, ROWNUM AS ROW_NUM
		FROM(
				SELECT COMMU_CODE
					, WRITER
					, TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS CREATE_DATE
					, READ_CNT
					, TITLE
					, CONTENT
					, SECRET
					, IS_SECRET
					, ROWNUM AS ROW_NUM
			FROM OISONE_COMMUNITY
			<if test="searchValue != null and !searchValue.equals('')">
				AND ${searchKeyword} LIKE '%'||#{searchValue}||'%'
			</if>
			ORDER BY CREATE_DATE DESC
		)
	)
WHERE ROW_NUM &gt;= #{startNum} AND ROW_NUM &lt;= #{endNum}
</select>

<!-- 커뮤 게시글 전체 데이터 개수 조회 -->
<select id="selectCommuCnt" resultType="int">
	SELECT COUNT(COMMU_CODE)
	FROM OISONE_COMMUNITY
	<if test="searchValue != null and !searchValue.equals('')">
	WHERE ${searchKeyword} LIKE '%'||#{searchValue}||'%'
	</if>
</select>


















	
<!--커뮤니티 게시글 조회  -->
<!-- <select id="selectBoardList" resultMap="board">
SELECT COMMU_CODE
    , WRITER
    , READ_CNT
    , TITLE
    , TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS CREATE_DATE
FROM OISONE_COMMUNITY

</select> -->


<!--커뮤니티 게시글 등록  -->
<!-- <insert id="insertBoard">
INSERT INTO OISONE_COMMUNITY(
    COMMU_CODE
    , WRITER
    , TITLE
    , CONTENT
    , SECRET
    )VALUES(
      (SELECT 'CB_'||TO_CHAR((SYSDATE), 'YYMMDD')||'_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(COMMU_CODE, 11, 3))), 0)+1, 3, '0') AS COMMU_CODE  FROM OISONE_COMMUNITY)
      , #{writer}
      , #{title}
      , #{content}
      , #{secret}
)
</insert> -->

<!--커뮤니티 상세보기 조회 -->
<!-- <select id="selectBoardDetail" resultMap="board">
SELECT COMMU_CODE
    , WRITER
    , CREATE_DATE
    , TITLE
    , TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS CREATE_DATE
    , CONTENT
   FROM OISONE_COMMUNITY   
WHERE COMMU_CODE = #{commuCode}

</select> -->

<!--댓글 조회  -->
<!-- <select id="selectReply" resultMap="reply">
SELECT COMMU_REPLY_CODE
	, TO_CHAR(CREATE_DATE, 'YYYY-MM-DD HH:MM') AS CREATE_DATE
	, WRITER
	, CONTENT
	, COMMU_CODE
FROM OISONE_COMMUNITY_REPLY
WHERE COMMU_CODE =#{commuCode}
</select> -->


<!--댓글 등록  -->
<!-- <insert id="insertReply">
INSERT INTO OISONE_COMMUNITY_REPLY(
	COMMU_REPLY_CODE
	, WRITER
	, CONTENT
	, COMMU_CODE
)VALUES(
	(SELECT 'CR_'||TO_CHAR((SYSDATE), 'YYMMDD')||'_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(COMMU_REPLY_CODE,11,3))), 0)+1 , 3, 0) FROM OISONE_COMMUNITY_REPLY)
	 , #{writer}
	 , #{content}
	 , #{commuCode}
)

</insert> -->

<!--커뮤니티 게시글 삭제  -->
<!-- <delete id="deleteBoard">
DELETE 
FROM OISONE_COMMUNITY
WHERE COMMU_CODE =#{commuCode}

</delete> -->

<!--커뮤니티 게시글 수정  -->
<!-- <update id="updateBoard">
UPDATE OISONE_COMMUNITY
	SET 
	TITLE =#{title}
		, CONTENT =#{content}
		, CREATE_DATE = SYSDATE
WHERE COMMU_CODE =#{commuCode}
</update> -->

<!--댓글 수정  -->
<!-- <update id="updateReply">
UPDATE OISONE_COMMUNITY_REPLY
	SET
	TITLE =#{title}
	, CONTENT =#{content}
WHERE COMMU_REPLY_CODE = #{commuReplyCode}
</update> -->

<!--댓글 삭제  -->
<!-- <delete id="deleteReply">
DELETE OISONE_COMMUNITY_REPLY
WHERE  COMMU_REPLY_CODE =#{commuReplyCode}

</delete> -->



</mapper>











