<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="communityMapper">
	
	<!-- 커뮤니티 게시글 -->
	<resultMap type="com.kh.project.community.vo.CommunityVO" id="board">
		<id column=" COMMU_CODE"         property="commuCode"/>
		<result column="WRITER"         property="writer"/>
		<result column="CREATE_DATE"    property="createDate"/>
		<result column="READ_CNT"       property="readCnt"/>
		<result column="TITLE"          property="title"/>
		<result column="CONTENT"        property="content"/>
		<result column="SECRET"         property="secret"/>
		<result column="IS_SECRET"      property="isSecret"/>
		
	</resultMap>
	
	<!-- 커뮤니티 댓글 -->
	<resultMap type="com.kh.project.community.vo.CommunityReplyVO" id="reply">
		<id column="COMMU_REPLY_CODE"   property="commiReplyCode"/>
		<result column="CREATE_DATE"    property="createDate"/>
		<result column="WRITER"         property="writer"/>
		<result column="CONTENT"        property="content"/>
		
	</resultMap>
	
<!--커뮤니티 게시글 조회  -->
<select id="selectBoardList" resultMap="board">
SELECT COMMU_CODE
    ,WRITER
    ,READ_CNT
    ,TITLE
    ,CONTENT
   FROM OISONE_COMMUNITY

</select>


<!--커뮤니티 게시글 등록  -->
<insert id="insertBoard">
INSERT INTO OISONE_COMMUNITY(
    COMMU_CODE
    , WRITER
    , TITLE
    , CONTENT
    )VALUES(
      (SELECT 'CB_'||TO_CHAR((SYSDATE), 'YYYYMMDD')||'_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(COMMU_CODE, 6, 3))), 0)+1, 3, '0') AS COMMU_CODE  FROM OISONE_COMMUNITY)
      , #{writer}
      , #{title}
      , #{content}
)
</insert>

<!--커뮤니티 게시글 삭제  -->
<delete id="deleteBoard">
DELETE 
FROM OISONE_COMMUNITY
WHERE COMMU_CODE =#{commuCode}

</delete>

<!--커뮤니티 게시글 수정  -->
<update id="updateBoard">
UPDATE OISONE_COMMUNITY
SET 
	TITLE =#{title}
	, CONTENT =#{content}
	,CREATE_DATE = SYSDATE
WHERE COMMU_CODE =#{commuCode}
</update>

</mapper>












