<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="customerCenterMapper">
	
	<!-- 고객센터 게시글 -->
	<resultMap type="com.kh.project.customerCenter.vo.CustomerCenterVO" id="board">
		
	</resultMap>
	
	<!-- 고객센터 댓글 -->
	<resultMap type="com.kh.project.customerCenter.vo.CustomerCenterReplyVO" id="reply">
		
	</resultMap>
	
	
	
</mapper>












