<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="eventMapper">
	
	<!-- 영화추천 --><!-- 영화추천 쿼리 짜야 될 때 얘기해줘 기량아!! -->
	<resultMap type="com.kh.project.movie.vo.MovieVO" id="movie">
		
	</resultMap>
	
	<resultMap type="com.kh.project.event.vo.EventVO" id="event">
		<result column="EVEN_NAME" property="evenName"/>
		<result column="EVEN_DATE" property="evenDate"/>
	
	</resultMap>
	
	<!--전체 행사조회 -->
	<select id="selectEvent" resultMap="event">
	SELECT EVEN_NAME
	    , EVEN_DATE
	FROM OISONE_EVENT
	</select>
	
	
	<!-- 버튼 클릭시 이달의 행사 조회 -->
	<select id="selectEventAjax" resultMap="event">
	SELECT EVEN_NAME
	    , EVEN_DATE
	FROM OISONE_EVENT
	WHERE SUBSTR(EVEN_DATE, 1, 10) &lt;= #{evenDate}
	AND SUBSTR(EVEN_DATE, 14) &gt;= #{evenDate}
	</select>	
	
</mapper>












