<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="memberMapper">
	
	<!-- 회원 -->
	<resultMap type="com.kh.project.member.vo.MemberVO" id="member">
		<id column="ID" 					property="id"/>
		<result column="PW" 				property="pw"/>
		<result column="NAME" 				property="name"/>
		<result column="NICKNAME" 			property="nickName"/>
		<result column="BIRTHDAY" 			property="birthday"/>
		<result column="GENDER" 			property="gender"/>
		<result column="TELL" 				property="tell"/>
		<result column="EMAIL" 				property="email"/>
		<result column="POINT" 				property="point"/>
		<result column="SAVED_MONEY" 		property="savedMoney"/>
		<result column="MARKETING_AGREE" 	property="marketingAgree"/>
		<result column="IS_ADMIN" 			property="isAdmin"/>
		<result column="JOIN_DATE" 			property="joinDate"/>
		<result column="NONPEOPLE_TICKET" 	property="nonpeopleTicket"/>
		<result column="MY_CINEMA" 			property="myCinema"/>
	</resultMap>
	
	<resultMap type="com.kh.project.community.vo.CommunityVO" id="board">
		<id column="COMMU_CODE"         property="commuCode"/>
		<result column="WRITER"         property="writer"/>
		<result column="CREATE_DATE"    property="createDate"/>
		<result column="READ_CNT"       property="readCnt"/>
		<result column="TITLE"          property="title"/>
		<result column="CONTENT"        property="content"/>
		<result column="SECRET"         property="secret"/>
		<result column="IS_SECRET"      property="isSecret"/>
	</resultMap>
	
	
	<!-- 1. 회원가입하기 -->
	<insert id="join">
		INSERT INTO OISONE_MEMBER(
		    ID
		    , PW
		    , NAME
		    , NICKNAME
		    , BIRTHDAY
		    , GENDER
		    , TELL
		    , EMAIL
		    , MARKETING_AGREE
		    , NONPEOPLE_TICKET
		    , MY_CINEMA

		)VALUES(
		    #{id}
		    , #{pw}
		    , #{name}
		    , #{nickName}
		    , #{birthday}
		    , #{gender}
		    , #{tell}
		    , #{email}
		    , #{marketingAgree}
		    , #{nonpeopleTicket}
		    , #{myCinema}

		)

	</insert>
	
	<!-- ID, NickName 중복확인하기 -->
	<!-- <select id="overlapId" resultType="String">
		SELECT ID
		FROM OISONE_MEMBER
		WHERE ID = #{id}
	</select>

	
	<select id="overlapNick" resultType="String">
		SELECT NICKNAME
		FROM OISONE_MEMBER
		WHERE NICKNAME = #{nickName}
	</select> -->
	
	
	<!-- 은빈이 유효성검사중 -->
	
	<!-- 1. 아이디 중복 유효성 검사 -->
	<select id="checkOverId" resultType="int" parameterType="String">
		SELECT COUNT(*)
		FROM OISONE_MEMBER
		WHERE ID = #{id}
	</select>
	
	<!-- 2. 이메일 중복 유효성 검사 -->
	<select id="checkOverEmail" resultType="int" parameterType="String">
		SELECT COUNT(*)
		FROM OISONE_MEMBER
		WHERE EMAIL = #{email}
	</select>
	
	<!-- 3. 닉네임 중복 유효성 검사 -->
	<select id="checkOverNickName" resultType="int" parameterType="String">
		SELECT COUNT(*)
		FROM OISONE_MEMBER
		WHERE NICKNAME = #{nickName}
	</select>
	
	<!--로그인 중복 유효성 검사 -->
	<select id="checkLogin" resultType="int" parameterType="String">
		SELECT COUNT(*)
		FROM OISONE_MEMBER
		WHERE ID = #{id}
		AND PW = #{pw}
	</select>


	<!-- 2. 로그인 -->
	<select id="login" resultMap="member">
		SELECT ID
			, IS_ADMIN
			, NAME
			, NICKNAME
			, TO_CHAR(JOIN_DATE, 'YYYY-MM-DD') AS JOIN_DATE
			, NONPEOPLE_TICKET
			, MY_CINEMA
			, TO_CHAR(BIRTHDAY, 'YYYYMMDD') AS BIRTHDAY
			, GENDER
			, TELL
			, EMAIL
			, POINT
			, SAVED_MONEY
			, MARKETING_AGREE
		FROM OISONE_MEMBER
		WHERE ID = #{id}
		AND PW = #{pw}
	</select>
	
	
	<!--3. (admin)멤버 목록 조회 -->
	<select id="selectMemberList" resultMap="member">
		SELECT ID
			, NAME
			, NICKNAME
			, TELL
			, ROW_NUM
		FROM
		(
			SELECT ID
				, NAME
				, NICKNAME
				, TELL
				, ROWNUM AS ROW_NUM
			FROM
			(
				SELECT ID
				, NAME
				, NICKNAME
				, TELL
				, ROWNUM AS ROW_NUM
			FROM OISONE_MEMBER
			<if test="searchValue != null and !searchValue.equals('')">
				WHERE ${searchKeyword} LIKE '%'||#{searchValue}||'%'
			</if>
			ORDER BY JOIN_DATE
		)
	)
	WHERE ROW_NUM &gt;= #{startNum} AND ROW_NUM &lt;= #{endNum}
	</select>
	
	<!-- 게시글 전체 데이터 개수 조회 -->
	<select id="selectMemberCnt" resultType="int">
		SELECT COUNT(ID)
		FROM OISONE_MEMBER
		<if test="searchValue != null and !searchValue.equals('')">
		WHERE ${searchKeyword} LIKE '%'||#{searchValue}||'%'
		</if>
	</select>
	
	
	<!--3. (admin)멤버 상세 조회 -->
	<select id="selectMemberDetail" resultMap="member">
		SELECT ID
			, PW
			, NAME
			, NICKNAME
			, TO_CHAR(BIRTHDAY, 'YYYYMMDD') AS BIRTHDAY
			, GENDER
			, TELL
			, EMAIL
			, POINT
			, SAVED_MONEY
			, MARKETING_AGREE
			, JOIN_DATE
			, NONPEOPLE_TICKET
			, MY_CINEMA
		FROM OISONE_MEMBER
		WHERE ID = #{id}
	</select>
	
	<!--4. 회원 마이페이지 나의 정보 수정하기  -->
	<update id="updateMyPage">
		UPDATE OISONE_MEMBER
		SET
		 NAME = #{name}
		  , NICKNAME = #{nickName}
		  , BIRTHDAY = #{birthday}
		  , GENDER = #{gender}
		  , TELL = #{tell}
		  , EMAIL = #{email}
		  , NONPEOPLE_TICKET = #{nonpeopleTicket}
		  , MY_CINEMA = #{myCinema}
		 WHERE ID = #{id}
	</update>
	
	<!--5. 회원 마이페이지에서 회원 탈퇴하기  -->
	<delete id="deleteMember" >
		DELETE OISONE_MEMBER
		WHERE ID = #{id}
	</delete>


	<!-- 마이페이지 - 내가 쓴글만 조회 -->
	<!-- <select id="myBoardList" resultMap="board">
		SELECT COMMU_CODE
			, C.WRITER
			, CREATE_DATE
			, READ_CNT
			, TITLE
			, CONTENT
            , SECRET
			, IS_SECRET
		FROM OISONE_COMMUNITY C, OISONE_MEMBER M
        WHERE C.WRITER = M.NICKNAME
	</select> -->

		
	<select id="myBoardList" resultMap="board">
		SELECT COMMU_CODE
			, WRITER
			, CREATE_DATE
			, READ_CNT
			, TITLE
			, CONTENT
			, SECRET
			, ROW_NUM
		FROM(
				SELECT COMMU_CODE
					, WRITER
					, CREATE_DATE
					, READ_CNT
					, TITLE
					, CONTENT
					, SECRET
					, ROWNUM AS ROW_NUM
			FROM(
					SELECT COMMU_CODE
						, WRITER
						, TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS CREATE_DATE
						, READ_CNT
						, TITLE
						, CONTENT
						, SECRET
						, ROWNUM AS ROW_NUM
				FROM OISONE_COMMUNITY
 				WHERE WRITER = #{nickName}
				<if test="searchValue != null and !searchValue.equals('')">
					AND ${searchKeyword} LIKE '%'||#{searchValue}||'%'
				</if>
				ORDER BY CREATE_DATE DESC
			)
		)
	WHERE ROW_NUM &gt;= #{startNum} AND ROW_NUM &lt;= #{endNum}
	</select>
	
	<!-- 커뮤 게시글 전체 데이터 개수 조회 -->
	<select id="selectCommuCnt" resultType="int">
		SELECT COUNT(COMMU_CODE)
		FROM OISONE_COMMUNITY
		<if test="searchValue != null and !searchValue.equals('')">
		WHERE ${searchKeyword} LIKE '%'||#{searchValue}||'%'
		</if>
	</select>
	
</mapper>












