<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="rentalMapper">
	
	<!-- 대관 예약 -->
	<resultMap type="com.kh.project.rental.vo.RentalVO" id="rental">
		<id column="RT_CODE" 				property="rtCode"/>
		<result column="AREA_CODE" 			property="areaCode"/>
		<result column="THEATER_CODE" 		property="theaterCode"/>
		<result column="RT_DATE" 			property="rtCode"/>
		<result column="RT_START_TIME" 		property="rtStartTime"/>
		<result column="RT_END_TIME" 		property="rtEndTime"/>
		<result column="MV_CODE" 			property="mvCode"/>
		<result column="ID" 				property="id"/>
		<result column="IS_COMPLETE" 		property="isComplete"/>
	</resultMap>
	
	<!-- 영화관 -->
	<resultMap type="com.kh.project.reservation.vo.TheaterVO" id="area">
		<id column="AREA_CODE" 			property="areaCode"/>
		<result column="AREA_NAME" 		property="areaName"/>
		<result column="TEATER_CNT" 	property="teaterCnt"/>
		<result column="LOC" 			property="loc"/>
	</resultMap>
	
	<!-- 상영관 -->
	<resultMap type="com.kh.project.reservation.vo.TheaterVO" id="theater">
		<id column="THEATER_CODE" 			property="theaterCode"/>
		<result column="AREA_NAME" 			property="areaName"/>
		<result column="SEAT_ALL" 			property="seatAll"/>
		<result column="SEAT_CNT" 			property="seatCnt"/>
		<result column="THEATER_NAME" 		property="theaterName"/>
		<result column="IS_FULL_THEATER" 	property="isFullTheater"/>
		<result column="USE_THEATER" 		property="useTheater"/>
	</resultMap>
	
	<!-- 좌석 -->
	<resultMap type="com.kh.project.reservation.vo.TheaterVO" id="seat">
		<id column="SEAT_CODE" 				property="seatCode"/>
		<result column="AREA_NAME" 			property="areaName"/>
		<result column="THEATER_CODE" 		property="theaterCode"/>
		<result column="ROW_NUM" 			property="rowNum"/>
		<result column="COL_NUM" 			property="colNum"/>
		<result column="USE_SEAT" 			property="useSeat"/>
	</resultMap>
	
	<!-- 상영시간표 -->
	<resultMap type="com.kh.project.reservation.vo.MovieTimeVO" id="movieTime">
		<id column="MV_TIME_CODE" 			property="mvTimeCode"/>
		<result column="THEATER_CODE" 		property="theaterCode"/>
		<result column="AREA_NAME" 			property="areaName"/>
		<result column="SCREEN_DAY" 		property="screenDay"/>
		<result column="SCREEN_TIME" 		property="screenTime"/>
		<result column="SCREEN_END_TIME" 	property="screenEndTime"/>
		<result column="MV_CODE" 			property="mvCode"/>
		<result column="RUNNING_TIME" 		property="runningTime"/>
		<result column="SEAT_ALL" 			property="seatAll"/>
		<result column="SEAT_CNT" 			property="seatCnt"/>
		<result column="THEATER_NAME" 		property="theaterName"/>
		<result column="IS_FULL_THEATER" 	property="isFullTheater"/>
	</resultMap>
	
	<!-- 영화 -->
	<resultMap type="com.kh.project.movie.vo.MovieVO" id="movie">
		<id column="MV_CODE"				property="mvCode"/>
		<result column="TITLE"				property="title"/>
		<result column="DIRECTOR"			property="director"/>
		<result column="ACTOR"				property="actor"/>
		<result column="GENRE"				property="genre"/>
		<result column="AGE"				property="age"/>
		<result column="RUNNING_TIME"		property="runningTime"/>
		<result column="NATION"				property="nation"/>
		<result column="OPEN_DATE"			property="openDate"/>
		<result column="CONTENT"			property="content"/>
		<result column="MV_STATE"			property="mvState"/>
		<result column="GRADE"				property="grade"/>
		<result column="ATTACHED_IMG_NAME"	property="attachedImgName"/>
	</resultMap>
	
	
	
	<!-- 영화관 조회 -->
	<select id="selectAreaList" resultMap="area">
		SELECT AREA_CODE 
		    , AREA_NAME
		    , LOC
		FROM OISONE_AREA
		ORDER BY AREA_CODE
	</select>
	
	<!-- 상영중인 영화목록 조회 -->
	<select id="selectMovieList" resultMap="movie">
		SELECT MV_CODE
		    , TITLE
		    , RUNNING_TIME
		FROM OISONE_MOVIE
		ORDER BY MV_CODE
	</select>
	
	
	
	<!-- 대관 예약 등록 -->
	<insert id="insertRental">
		INSERT INTO OISONE_RENTAL (
			RT_CODE
			, AREA_CODE
			, RT_DATE
			, RT_START_TIME
			, RT_END_TIME
			, MV_CODE
			, ID
		) VALUES (
			(SELECT 'RT_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(RT_CODE, 4, 3))), 1) + 1, 3, '0') FROM OISONE_RENTAL)
			, #{areaCode}
			, #{rtDate}
			, #{rtStartTime}
			, #{rtEndTime}
			, #{mvCode}
			, #{id}
		)
	</insert>
	
	
	
	<!-- 예약 목록 조회 -->
	<select id="selectRentalList" resultMap="rental">
		SELECT RT_CODE
			, A.AREA_NAME
			<if test="theaterCode != null and !theaterCode.equals('')">
			, T.THEATER_NAME
			</if>
			, TO_CHAR(RT_DATE, 'YYYY-MM-DD') AS RT_DATE
			, RT_START_TIME
			, RT_END_TIME
			, M.TITLE
			, ID
			, IS_COMPLETE
		FROM OISONE_RENTAL R, OISONE_AREA A<if test="theaterCode != null and !theaterCode.equals('')">, OISONE_THEATER T</if>, OISONE_MOVIE M
		WHERE ID = #{id}
		AND R.AREA_CODE = A.AREA_CODE
		AND R.MV_CODE = M.MV_CODE
		<if test="theaterCode != null and !theaterCode.equals('')">
		AND R.THEATER_CODE = T.THEATER_CODE
		</if>
		<if test="areaCode != null and !areaCode.equals('')">
		AND A.AREA_CODE = #{areaCode}
		</if>
		<if test="isComplete != null and !isComplete.equals('')">
		AND IS_COMPLETE = #{isComplete}
		</if>
		ORDER BY RT_DATE DESC
	</select>
	
	
	
</mapper>












